 body{
    font-family: 'Lucida Grande','Trebuchet MS','Hiragino Sans GB','Segoe UI Light','Segoe UI','Microsoft Jhenghei','微软雅黑',sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #666666;
}
#container {text-align: center; height: 547px;}
.title {font-size: 60px;  margin-top: 80px;}
.word {margin-top: 50px; line-height: 2;}
.msg_1 {font-size: 15px;}
.content_wrap {width: 400px; height: 280px; margin: 70px auto 0;}
.webChat_wrap {width: 140px;  margin: 0 auto; padding-top: 60px;}
.img_wrap, .text_wrap {display: block; outline: 0;}
.text_wrap {margin-top: 10px; padding: 2px 15px; font-size: 20px;color: rgb(95,183,233); border-radius: 6px; text-decoration: none; height: 30px; line-height: 30px;}
.text_wrap:hover{background-color: #b9d83a; color: #fff;}
.copyright {font: 14px tahoma; margin-top: 50px;}


.login_content_wrap {width:400px; height: 280px; border:5px dotted #000; border-radius: 15px; margin: 70px auto 0; padding: 35px 25px; box-sizing:border-box;}
.bd {}
.login_title {height: 20px; line-height: 20px; color: #666666; font-size: 18px; font-weight: 700;}
.uid_text, .pwd_text {border: 0; text-align: center; width: 300px; font-size: 15px; height: 30px; }
.uid_text {margin: 20px auto 10px; border-bottom: 1px solid #000; width:px;}
.pwd_text {margin: 10px auto 20px; border-bottom: 1px solid #000; }
.reg, .fpwd {font-size: 13px;}
.reg:hover, .fpwd:hover {color: orange;}
.fpwd_wrap {float: left; margin-left: 22px;}
.reg_wrap {float: right; margin-right: 22px;}
.clearfix:after {content: "."; clear: both; height: 0px; overflow: hidden; visibility: none;}
.login_btn {width: 250px; height: 40px; margin-top: 15px; border-radius: 5px; background-color: #ddd; border:0; font-size: 15px; font-weight:500; white-space: pre;}
